<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facility.Console" version="0.2.0" targetFramework="net452" />
  <package id="Facility.Definition" version="0.2.0" targetFramework="net452" />
  <package id="Faithlife.Parsing" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
</packages>